

.heroimg {
  width: 100%;
  height: calc(100vh - 120px);
  object-fit: cover;
  position: relative;
  border-bottom: 2px solid black;
}

.herocontainer {
  position: relative;
  width:100%;
  
 
}

.heroText {
  width:40%;
  margin-top: 0px;
  position: absolute;
  z-index: 20;
}

.herocontainer i {
  position: absolute;
  bottom: 16px;
  font-size: 100px;
  opacity: 35%;
  left:50%;
  color: whitesmoke;
  transform: translate(-50%, 0);
}




