.App {
  
}

.body {
  background-image: url('/Users/jacktorn/Desktop/Sweep/images/smokeBG.jpg');
    background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: black;
  height: 100vh;
 



}