.details{
  /* border: 5px solid green; */
  display: flex;
  vertical-align: top;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  gap: 10px;
  width: 90vw;
  height: 50vh;


}

.card {
  width: 40vw;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 80px;


 
}

.customer{
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
  width: 50%;
  min-width: 200px;
  background-color: whitesmoke;
}
.custHead {
  border: 1px solid black;
  background-color: lightgray;
  position: sticky;
  top: 0px;
  height: 70px;
  text-align: center;
}
.custBody {
  padding: 20px;
}

.job {
  border: 2px solid black;
  border-radius: 10px;
  height: 100%;
  width: 50%;
  min-width: 200px;
  background-color: whitesmoke;
}

.jobHead {
  border: 1px solid black;
  background-color: lightgray;
  position: sticky;
  top: 0px;
  height: 70px;
  text-align: center;
}
.jobBody {
  padding: 20px;
}

.notes {
  border: 2px solid black;
  border-radius:20px;
  width: 100%;
  min-width: 420px;
  background-color: whitesmoke;
  padding: 20px;
}

.test {
  color: white;
}

