.header {
    
    min-height: 100px;
    box-shadow: 5px 3px 2px -2px #ccc;

}

.logo {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

.menu {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
}