.header {
    position: sticky;
    width:100vw;
    top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    max-height: 120px;
    box-shadow: 5px 3px 2px -2px #ccc;
    background-color: black;
    z-index: 20;
    

}

.logoimg {

    max-width: 80px;
    object-fit: contain;
    height:80px;
    margin-left: 10px;
    margin-top: 18px;
    border-radius: 200px;
}

.titleimg {
    
    object-fit: cover;
    max-height:300px;
    margin-top: 10px;

}

.headermenu {
    background-color: black;
    min-width: 110px;
    
}