.header {
    position: fixed;
    width:100vw;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    min-height: 120px;
    max-height: 120px;
    box-shadow: 5px 3px 2px -2px #ccc;
    background-color: black;
    Z-INDEX: 20;
    

}

.logoimg {

    max-width: 100px;
    object-fit: cover;
    height:80px;
    margin-left: 10px;
    margin-top: 18px;
    border-radius: 200px;
}

.titleimg {
    width: 280px;
    object-fit: cover;
    height:120px;
    margin-top: 0;

}

.headermenu {
    background-color: black;
    min-width: 110px;
    
}